
body{
    height: 100vh;
    min-width: 400px;
}
.main{
    display: flex;
    flex-direction: column; 
    height: 100%;
    flex-grow: 1;
    
}
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(32, 33, 36);
    height: 60px;
    padding: 6px;
}
#navi-container{
    height: 48px;
    font-size: 13px;
}
#navi-element{
    display: flex;
    color: rgb(0, 0, 0);
    height: 48px;
    padding-left: 32px;
    padding-right: 4px;
    align-items: center;
}
#navi-block{
    display: flex;
    align-items: center;
}
#gm-im-container{
    padding-right: 15px;
}
#gmail{
    display: inline-block;
    line-height: 24px;
    padding-left: 15px;  
}
#image{
    display: inline-block;
    padding-left: 11px;
}
.nav-child{
    text-decoration: solid;
    color: rgba(0, 0, 0, 0.87);  
}
#app-container{
    display: flex;
    align-items: center;
    padding-left: 4px; 
    gap: 4px;
}
#nav-app{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.55);
}
.nav-app{
    padding: 8px;
    height: 40px;
    width: 40px;
   
}
.nav-app:hover{
    border-radius: 40px;
    background-color:rgba(95, 99, 104,0.1);
    cursor: pointer;
}
#sign-button{
    margin: 0 8px;
    padding: 9px 23px;
    min-width: 96px;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    background-color: rgb(26, 115, 232);
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    outline: none;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,Helvetica,Arial,sans-serif;
}
@media only screen and (max-width: 600px){

    #sign-button{
        min-width: 80px;
        padding: 9px 15px;
    }
}

.nav-child:hover{
    text-decoration: underline;
}
.logo-container{
    position: relative;

}
#img-google2{
    left: 0;
    position: absolute;
    opacity: 0;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);  
}
.logo-container{
    height: 100%;
    margin-top: auto;
    max-height: 92px;
}
.searchbox-container{
    flex-shrink: 0;
    max-height: 160px;
    padding: 20px;

}
.searchbox-container-inner{
    padding-top: 6px;
    position: relative;
    max-width: 584px;
    margin: 0 auto;
}
#search-line{
    max-width: 584px;
    min-height: 44px;
    border-radius: 24px;
    border: 0.8px solid rgb(223, 225, 229);
    display: flex;
    margin: 0 auto;

}
#search-line-element{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 8px 0 14px;
}
.search-icon-container{
    display: flex;
    align-items: center;
    color: rgb(32, 33, 36);
    height: 46px;
    padding-right: 13px;
    margin-top: -5px;
}
.search-icon-container-2{
    margin: auto; 
}
#search-icon {
    height: 100%;
    width: 100%;
    color: rgb(154, 160, 166);
    font-size: 20px;
    font-weight: 400;
}
.search-core{
    display: flex;
    flex: 1;
    margin-top: 4px;
    flex-wrap: wrap;
}
input{
    margin-bottom: 8px;
    line-height: 22px;
    overflow-x: hidden;
    outline: none;
    border: none;
    display: flex;
    flex: 100%;
    font-size: 16px;

}
.mic-lense-container{
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    height: 44px;
}
.mic-lense-container-inner{
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
    width: 40px;
    line-height: 44px;

}
.mic{
    display: inline-block;
    height: 30px;
    width: 30px;
    
}
.lense{
    display: inline-block;
    height: 24px;
    width: 40px;

}
.search-icon-container-3{
    height: 20px;
    width: 20px;
    color: rgb(154, 160, 166);
    fill: currentColor;
    position: relative;

}
.button-box{
    display: flex;
    flex: 1;
    color: rgb(32, 33, 36);
    font-size: 14px;
    justify-content: center;
    padding-top: 18px;
    height: 70px;

}
#button-element{
    display: inline-block;
    background-color: rgb(248, 249, 250);
    border:1px solid rgb(248, 249, 250);
    color: rgb(60, 64, 67);
    align-items: flex-start;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    min-width: 54px;
    line-height: 27px;

}
#button-element:hover{
    background-color: rgb(248, 249, 250);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(218, 220, 224);
    color: rgb(32, 33, 36);

}
#button-element:focus{
    border: 1px solid #4285f4;
}
.language-container{
    flex-grow: 1;
    text-align: center;
    
}
#langauge-line{
    text-align: center;
    margin-bottom: 24px;
    font-size: 13px;
    display: inline-block;
    line-height: 28px;
    
     
    
}
.lang-elem{
    padding: 0 3px;
    text-decoration: none;
    color: rgb(26, 13, 171);
    
    
}
.lang-elem:hover{
    text-decoration: underline;
}

.footer-container{
    background-color: rgb(242, 242, 242);
    width: 100%;
    
    
    
}
.footer-bottom-container{
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;


}
.country{
    padding: 15px 30px;
    border-bottom: 1px solid rgb(218, 220, 224);
    font-size: 15px;
    color: rgb(112, 117, 122);
    display: flex;
    line-height: 17px;
    
}
.footer-spec-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 14px;
    color: rgb(32, 33, 36);
    background-size: auto;
}
.footer-element{
    color: rgb(112, 117, 122);
    font-size: 14px;
    padding: 15px;
    text-decoration: none solid;
    line-height: 17px;
}
.footer-element:hover{
    cursor: pointer;
    text-decoration: underline;

}
@media only screen and (max-width: 1200px){

    .footer-bottom-container{
        justify-content: space-evenly;
    }
}
.footer-spec-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: rgb(32, 33, 36); 
}
